.header{
    display: flex;
    justify-content: space-between;
}
.header ul{
    list-style: none;
    display: flex;
    margin-top: 25px;
    margin-right: 45px;
}
.header ul li{
    color: white;
    margin-right: 18px;
    font-size: 18px;
    cursor: pointer;
}
.header img{
    height: 50px;
    margin: 15px;
}

.header-details{
    text-align: center;
    margin:20px  20% 20px 20%;
    padding: 30px;
    background-color: #373E47;
    color: #CDD7DB;
    border-radius: 25px;
}